<a href="https://colab.research.google.com/github/SorianoHannah1/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Equals: a == b
#Not Equal: a != b
#Less than: a < b
#Less than o/r equal to: a <= b
#Greater than: a > b
#Greater than o/r equal to: a >=b

In [ ]:
#If statement

a=100
b=12

if a>b:
  print("a is less than b")

a is less than b

In [37]:
#Elif statement

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

In [ ]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is greater than b

In [32]:
#Short Hand If Statement

c = 5
d = 10
if c>d:
  print("c is greater than d")

c is greater than d

In [34]:
#Short Hand If Else Statement

print('c>d') if c>d else print("d>c")

c>d

In [36]:
#And Statement

if 10>5 and 8>4:
    print("both statements are true")
else: 
    print("one of the statements is false /both statements are not true")

both statements are true

In [38]:
#Or Statement

if 5>10 or 4>8:
  print('True')
else:
  print('False')

False

In [41]:
#Bitwise Operator ^ (XOR)

e=4     #0100 in binary
f=2     #0010 in binary

e^f

6

In [40]:
#Nested If Statement

x = 41
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
            print("the number is less than 50")

number is above 10
number is above 20
number is above 30
number is above 40
the number is less than 50

In [42]:
#For Loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [43]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [44]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [45]:
for x in "week":
  print(x)

w
e
e
k

In [46]:
#Range () Function

for x in range(6):
  print(x)

0
1
2
3
4
5

In [47]:
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [50]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [51]:
i = 1 
while i<=6:
  print(i)
  i+=1      #i = i+1

1
2
3
4
5
6

In [55]:
i = 1
while i <= 6:
  print(i)
  if i == 3:
   break
  i += 1

1
2
3